.icn-brands {
	background: url("icns-3319a2fd.svg") 0 0 no-repeat;
}

.icn-brands-dims {
	width: 25px;
	height: 25px;
}

.icn-home {
	background: url("icns-3319a2fd.svg") 50% 0 no-repeat;
}

.icn-home-dims {
	width: 25px;
	height: 23.09px;
}

.icn-latest {
	background: url("icns-3319a2fd.svg") 0 100% no-repeat;
}

.icn-latest-dims {
	width: 23.8px;
	height: 25px;
}

.icn-music {
	background: url("icns-3319a2fd.svg") 47.6% 100% no-repeat;
}

.icn-music-dims {
	width: 25px;
	height: 25px;
}

.icn-people {
	background: url("icns-3319a2fd.svg") 100% 0 no-repeat;
}

.icn-people-dims {
	width: 25px;
	height: 23.33px;
}

.icn-shows {
	background: url("icns-3319a2fd.svg") 100% 84.77470930232558% no-repeat;
}

.icn-shows-dims {
	width: 25px;
	height: 22.48px;
}

